<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinosearch</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/specific.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="icon" href="/img/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="header">
        <div id="head"><h1>KINOSEARCH</h1></div>
        <div id="options" class="op">
            <div id="film"><a href="/movies">Movies</a></div>
            <div id="serie"><a href="/series">Series</a></div>
            <div id="cartoo"><a href="/cartoons">Cartoons</a></div>
            <div id="TV"><a href="/channels">TV-channels</a></div>
            <div id="favorit"><a href="/favorites">Favorites</a></div>
        </div>
        <form id="logout" method="POST" action="/logout">
            <button type="submit" class="zz">
            <span id="icon"><i class="fa-solid fa-user"></i></span>
            <span>Logout</span>
            </button>
        </form>   
    </div>

    <div id="about">
        <div id="h1">
            <p class="h1_1"><i class="fa-solid fa-circle-play"></i> Kinosearch -<br><span class="h1_2">Platform to watch movies, TV series, cartoons and TV channels</span></p>
        </div>
        <div id="h2">
            <p class="h2_1">Our command collect movies and series around the world</p>
            <div class="h2_2">
                <div class="h2_2_1">
                    <div class="ic"><p class="red">Favorites</p><i class="fa-regular fa-bookmark"></i></div>
                    <p>system to chooze favorite movies and series</p>
                </div>
                <div class="h2_2_2">
                    <div class="ic"><p class="red">Fast searching</p><i class="fa-solid fa-magnifying-glass"></i></div>
                    <p>Filtering movies by criterie</p>
                </div>
            </div>
            <div class="h2_3">
                <div class="h2_3_1">
                    <div class="ic"><p class="red">review</p><i class="fa-regular fa-comment"></i></div>
                    <p>Leaving comments at movies or series</p>
                </div>
                <div class="h2_3_2">
                    <div class="ic"><p class="red">TV channels</p><i class="fa-solid fa-tv"></i></div>
                    <p>Sport, cooking or health, find channel which is suitable for you</p>
                </div>
            </div>
            <div class="photo">
                <img src="/img/background_image.jpg">
            </div>
        </div>
        <p class="h3">Technologies used</p>
        <div class="h4">
            <div class="h4_1">
                <div class="ico"><i class="fa-solid fa-computer"></i></div>
                <div>
                    <p class="h4_2">node js</p>
                    <p class="h4_3">Main language for backend</p>
                </div>
            </div>
            <div class="h4_1">
                <div class="ico"><i class="fa-solid fa-database"></i></div>
                <div>
                    <p class="h4_2">MongoDB</p>
                    <p class="h4_3">Main database for application</p>
                </div>
            </div>
            <div class="h4_1">
                <div class="ico"><i class="fa-solid fa-code"></i></div>
                <div>
                    <p class="h4_2">HTML CSS JavaScript</p>
                    <p class="h4_3">Main languages for frontend</p>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">

        <div id="soc">
            <div class="soci"><i class="fa-brands fa-vk"></i></div>
            <div class="soci"><i class="fa-brands fa-telegram"></i></div>
            <div class="soci"><i class="fa-brands fa-youtube"></i></div>
            <div class="soci"><i class="fa-brands fa-tiktok"></i></div>
            <div class="soci"><i class="fa-brands fa-instagram"></i></div>
            <div class="soci"><i class="fa-brands fa-x-twitter"></i></div>
        </div>

        <div id="foot2">
            <div class="col"><a href="/movies">All movies</a></div>
            <div class="col"><a href="/series">All series</a></div>
            <div class="col"><a href="/cartoons">All cartoons</a></div>
            <div class="col"><a href="/channels">TV channels</a></div>
        </div>

        <div id="foot1">
            <div class="col"><a href="">About us</a></div>
            <div class="col"><a href="/review">Leave review</a></div>
        </div>

        <div id="watching">
            <div class="z">
                <div class="z1"><i class="fa-brands fa-apple"></i></div>
                <div class="z2">
                    <div class="z3">download in</div>
                    <div class="z4">App Store</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-brands fa-google-play"></i></div>
                <div class="z2">
                    <div class="z3">accessible on</div>
                    <div class="z4">Google Play</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-tv"></i></div>
                <div class="z2">
                    <div class="z3">watch on</div>
                    <div class="z4">Smart TV</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-store"></i></div>
                <div class="z2">
                    <div class="z3">install in</div>
                    <div class="z4">RuStore</div>
                </div>
            </div>
        </div>

        <div id="rights">
            <div>©2026, Kinosearch 18+</div>
            <div>Project by <b>Bigali Nugmash</b></div>
        </div>
    </div>
</body>
</html>