<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinosearch</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/specific.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="header">
        <div id="head"><h1>KINOSEARCH</h1></div>
        <div id="options2">
            <div id="film"><a href="/movies">Movies</a></div>
            <div id="series"><a href="/series">Series</a></div>
            <div id="cartoon"><a href="/cartoons">Cartoons</a></div>
            <div id="TV"><a href="/channels">TV-channels</a></div>
        </div>
        <div id="logout">
            <span id="icon"><i class="fa-solid fa-user"></i></span>
            <span>Logout</span>
        </div>   
    </div>

    <div id="about_series"></div>

    <div id="footer">
        <div id="soc">
            <div class="soci"><i class="fa-brands fa-vk"></i></div>
            <div class="soci"><i class="fa-brands fa-telegram"></i></div>
            <div class="soci"><i class="fa-brands fa-youtube"></i></div>
            <div class="soci"><i class="fa-brands fa-tiktok"></i></div>
            <div class="soci"><i class="fa-brands fa-instagram"></i></div>
            <div class="soci"><i class="fa-brands fa-x-twitter"></i></div>
        </div>

        <div id="foot2">
            <div class="col">All movies</div>
            <div class="col">All series</div>
            <div class="col">All cartoons</div>
            <div class="col">TV channels</div>
        </div>

        <div id="foot1">
            <div class="col">About us</div>
            <div class="col">Contacts</div>
        </div>

        <div id="watching">
            <div class="z">
                <div class="z1"><i class="fa-brands fa-apple"></i></div>
                <div class="z2">
                    <div class="z3">download in</div>
                    <div class="z4">App Store</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-brands fa-google-play"></i></div>
                <div class="z2">
                    <div class="z3">accessible on</div>
                    <div class="z4">Google Play</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-tv"></i></div>
                <div class="z2">
                    <div class="z3">watch on</div>
                    <div class="z4">Smart TV</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-store"></i></div>
                <div class="z2">
                    <div class="z3">install in</div>
                    <div class="z4">RuStore</div>
                </div>
            </div>
        </div>

        <div id="rights">
            <div>©2026, Kinosearch 18+</div>
            <div>Project by <b>Bigali Nugmash</b></div>
        </div>
    </div>

</body>
</html>