<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinosearch</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/specific.css">
    <link rel="icon" href="/img/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="header">
        <div id="head"><h1>KINOSEARCH</h1></div>
        <div id="options2">
            <div id="film"><a href="/movies">Movies</a></div>
            <div id="serie"><a href="/series">Series</a></div>
            <div id="cartoo"><a href="/cartoons">Cartoons</a></div>
            <div id="TV"><a href="/channels">TV-channels</a></div>
            <div id="favorit"><a href="/favorites">Favorites</a></div>
        </div>
        <form id="logout" method="POST" action="/logout">
            <button type="submit" class="zz">
                <span id="icon"><i class="fa-solid fa-user"></i></span>
                <span>Logout</span>
            </button>
        </form>   
    </div>

    <div id="about_channels"></div>
    <form id="deleting"><button class="delete-btn-for-channel">Delete</button></form>

    <form id="updating">
        <p class="create_head">Update</p>
        <div class="cont">
            <label>title:
                <input type="text" id="title" class="in" placeholder="title" >
            </label>
            <label>category:
                <input type="text" id="category" class="in" placeholder="category">
            </label>
            <label>country:
                <input type="text" id="country" class="in" placeholder="country">
            </label>
        </div>
        <div class="cont">
            <label>launch year: 
                <input type="number" id="launch_year" class="in" placeholder="launch year">
            </label>
            <label>owner:
                <input type="text" id="owner" class="in" placeholder="owner">
            </label>
            <label>status:
                <input type="string" id="status" class="in" placeholder="status">
            </label>
        </div>
        <label>description:<br>
            <textarea id="description" placeholder="description" rows="4"></textarea>
        </label>
        <label class="contr">image:
            <input type="text" id="image" class="in" placeholder="image">
        </label>
        <label class="contr">official site:
            <input type="text" id="website" class="in" placeholder="website">
        </label>
        <button class="update-btn">update</button>
    </form>

    <form id="comment_forms">
        <span class="he">Comments</span>
        <div class="for_com">
            <textarea id="commentss" rows="4" placeholder="here"></textarea>
            <button type="submit" class="but">Send</button>
        </div>
        <div id="review_option"></div>
    </form>

    <div id="footer">
        <div id="soc">
            <div class="soci"><i class="fa-brands fa-vk"></i></div>
            <div class="soci"><i class="fa-brands fa-telegram"></i></div>
            <div class="soci"><i class="fa-brands fa-youtube"></i></div>
            <div class="soci"><i class="fa-brands fa-tiktok"></i></div>
            <div class="soci"><i class="fa-brands fa-instagram"></i></div>
            <div class="soci"><i class="fa-brands fa-x-twitter"></i></div>
        </div>

        <div id="foot2">
            <div class="col"><a href="/movies">All movies</a></div>
            <div class="col"><a href="/series">All series</a></div>
            <div class="col"><a href="/cartoons">All cartoons</a></div>
            <div class="col"><a href="/channels">TV channels</a></div>
        </div>

        <div id="foot1">
            <div class="col"><a href="/about">About us</a></div>
            <div class="col"><a href="/review">Leave review</a></div>
        </div>

        <div id="watching">
            <div class="z">
                <div class="z1"><i class="fa-brands fa-apple"></i></div>
                <div class="z2">
                    <div class="z3">download in</div>
                    <div class="z4">App Store</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-brands fa-google-play"></i></div>
                <div class="z2">
                    <div class="z3">accessible on</div>
                    <div class="z4">Google Play</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-tv"></i></div>
                <div class="z2">
                    <div class="z3">watch on</div>
                    <div class="z4">Smart TV</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-store"></i></div>
                <div class="z2">
                    <div class="z3">install in</div>
                    <div class="z4">RuStore</div>
                </div>
            </div>
        </div>

        <div id="rights">
            <div>©2026, Kinosearch 18+</div>
            <div>Project by <b>Bigali Nugmash</b></div>
        </div>
    </div>

    <script src="/js/for_channel.js"></script>
    <script src="/js/review_channel.js"></script>
</body>
</html>