<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie System</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="header">
        <div id="head"><h1>KINOSEARCH</h1></div>
        <div id="options">
            <div id="film">Films</div>
            <div id="series">Series</div>
            <div id="cartoon">Cartoons</div>
            <div id="TV">TV-channels</div>
        </div>
        <div id="search_of">
            <input type="text" id="search" name="search" placeholder="Films, series, persons">
            <span id="ic"><i class="fa-solid fa-magnifying-glass"></i></span>
        </div>
        <div id="login">
            <span id="icon"><i class="fa-solid fa-user"></i></span>
            <span>Login</span>
        </div>   
    </div>

    <div id="main"></div>

    <div id="footer">footer</div>
</body>
</html>