<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinosearch</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <form class="login_block">
        <p class="header">Login</p>
        <label>email:<br>
            <input type="email" id="email" placeholder="yourname@gmail.com">
        </label>
        <label>password:<br>
            <input type="password" id="password">
        </label>
        <div class="down">
            <button>log in</button>
            <p class="reg">You don't have an account?<a href="/register">Sign up</a></p>
        </div>
    </form>

</body>
</html>