<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinosearch</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <form class="login_block" method="POST" action="/register">
        <p class="header">Sign up</p>
        <label><i class="fa-solid fa-user"></i> first name:
            <input type="text" id="fname" name="firstname" placeholder="your fisrt name" required>
        </label>
        <label><i class="fa-solid fa-user"></i> last name:
            <input type="text" id="lname" name="lastname" placeholder="your last name" required>
        </label>
        <label><i class="fa-solid fa-envelope"></i> email:<br>
            <input type="email" id="email" name="email" placeholder="yourname@gmail.com" required>
        </label>
        <label><i class="fa-solid fa-user"></i> user name:
            <input type="text" id="username" name="username" placeholder="your user name" required>
        </label>
        <label><i class="fa-solid fa-lock"></i> password:<br>
            <input type="password" id="password" name="password" required>
        </label>
        <div class="down">
            <button>Sign up</button>
            <p class="reg">You already have an account?<a href="/login">Sign in</a></p>
        </div>
    </form>

    <script>
        const url_params = new URLSearchParams(window.location.search)
        const error = url_params.get("error")
        if(error){
            alert(decodeURIComponent(error))
        }
        const success = url_params.get("success")
        if(success){
            alert(decodeURIComponent(success))
        }
    </script>
</body>
</html>