<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinosearch</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <form class="login_block">
        <p class="header">Sign up</p>
        <label>first name:
            <input type="text" id="fname" placeholder="your fisrt name" required>
        </label>
        <label>last name:
            <input type="text" id="lname" placeholder="your last name" required>
        </label>
        <label>email:<br>
            <input type="email" id="email" placeholder="yourname@gmail.com" required>
        </label>
        <label>user name:
            <input type="text" id="username" placeholder="your user name" required>
        </label>
        <label>password:<br>
            <input type="password" id="password" required>
        </label>
        <label>confirm password:
            <input type="password" id="conf_password" required>
        </label>
        <div class="down">
            <button>Sign up</button>
            <p class="reg">You already have an account?<a href="/login">Sign in</a></p>
        </div>
    </form>

</body>
</html>