<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kinosearch</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/specific.css">
    <link rel="stylesheet" href="/css/review.css">
    <link rel="icon" href="/img/icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="header">
        <div id="head"><h1>KINOSEARCH</h1></div>
        <div id="options2">
            <div id="film"><a href="/movies">Movies</a></div>
            <div id="serie"><a href="/series">Series</a></div>
            <div id="cartoo"><a href="/cartoons">Cartoons</a></div>
            <div id="TV"><a href="/channels">TV-channels</a></div>
            <div id="favorit"><a href="/favorites">Favorites</a></div>
        </div>
        <form id="logout" method="POST" action="/logout">
            <button type="submit" class="zz">
            <span id="icon"><i class="fa-solid fa-user"></i></span>
            <span>Logout</span>
            </button>
        </form>   
    </div>

    <div id="rev">
        <div>
            <span class="h1">Review about Kinosearch</span><br><br>
            <span class="h0">Here you can leave a review and share your experience using Kinosearch</span>
        </div>
        <div id="user_name"></div>
        <form id="comment_form">
            <textarea placeholder="leave review" rows="6" id="comments"></textarea>
            <button id="rev_btn">send</button>
        </form>
    </div>

    <div id="rev2">
        <span id="h2">Reviews</span>
        <p id="h3">Reviews help to Kinosearch become better</p>
        <div id="elements">
            <div id="prev" class="pag"><i class="fa-solid fa-angle-left"></i></div>
            <div id="coms"></div>
            <div id="next" class="pag"><i class="fa-solid fa-angle-right"></i></div>
        </div>
    </div>

    <div id="footer">

        <div id="soc">
            <div class="soci"><i class="fa-brands fa-vk"></i></div>
            <div class="soci"><i class="fa-brands fa-telegram"></i></div>
            <div class="soci"><i class="fa-brands fa-youtube"></i></div>
            <div class="soci"><i class="fa-brands fa-tiktok"></i></div>
            <div class="soci"><i class="fa-brands fa-instagram"></i></div>
            <div class="soci"><i class="fa-brands fa-x-twitter"></i></div>
        </div>

        <div id="foot2">
            <div class="col"><a href="/movies">All movies</a></div>
            <div class="col"><a href="/series">All series</a></div>
            <div class="col"><a href="/cartoons">All cartoons</a></div>
            <div class="col"><a href="/channels">TV channels</a></div>
        </div>

        <div id="foot1">
            <div class="col"><a href="/about">About us</a></div>
            <div class="col"><a href="">Leave review</a></div>
        </div>

        <div id="watching">
            <div class="z">
                <div class="z1"><i class="fa-brands fa-apple"></i></div>
                <div class="z2">
                    <div class="z3">download in</div>
                    <div class="z4">App Store</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-brands fa-google-play"></i></div>
                <div class="z2">
                    <div class="z3">accessible on</div>
                    <div class="z4">Google Play</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-tv"></i></div>
                <div class="z2">
                    <div class="z3">watch on</div>
                    <div class="z4">Smart TV</div>
                </div>
            </div>
            <div class="z">
                <div class="z1"><i class="fa-solid fa-store"></i></div>
                <div class="z2">
                    <div class="z3">install in</div>
                    <div class="z4">RuStore</div>
                </div>
            </div>
        </div>

        <div id="rights">
            <div>©2026, Kinosearch 18+</div>
            <div>Project by <b>Bigali Nugmash</b></div>
        </div>
    </div>

    <script src="/js/review.js"></script>
</body>
</html>