body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

#head{
    color:white;
}
#options{
    display: flex;
    gap: 10px;
    margin-right: 20%;
}

a{
    text-decoration: none;
    color: rgb(153, 153, 153);
    cursor: pointer;
}

a:hover{
    color: white;
}

#search_of{
    display: flex;
    background-color: rgb(78, 77, 77);
    height: 25px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 3px;
    color: lightgray;
    align-items: center;
    width: 370px;
    justify-content: space-between;
    gap:5px
    
}

#search{
    border: 0;
    background-color: transparent;
    width: 100%;
    color: white;
}

input::placeholder{
    color:lightgray;
    font-size: 14px;
}

#logout{
    display: flex;
    color: rgb(153, 153, 153);
    background-color: rgb(35, 35, 51);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#logout:hover{
    color: white !important;
}

#icon{
    background-color: rgb(56, 56, 81);
    border-radius: 10px;
    padding: 10px;
}

#ic{
    cursor: pointer;
}

#footer{
    background-color: black;
    width: 100%;
    margin-bottom: 0;
    color: gray;
    margin-top: 40px;
}

#soc{
    display: flex;
    font-size: 22px;
    width: 25%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.soci{
    background-color: rgb(39, 39, 54) !important;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.soci:hover{
    color: white;
    background-color: rgb(85, 85, 115) !important;
}

#foot1{
    display: flex;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 20px;
    font-size: large;
}

.col:hover{
    color: white;
    cursor: pointer;
}

#foot2{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 20px;
    font-size: large;
}

.col:hover{
    color: white;
    cursor: pointer;
}

#watching{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    width: 44%;
    margin-top: 40px;
}

.z{
    display: flex;
    gap: 10px;
    background-color: rgb(31, 27, 27);
    padding: 6px;
    border-radius: 10px;
}

.z:hover{
    cursor: pointer;
    color: rgb(179, 177, 177);
    background-color: rgb(48, 45, 45);
}

.z1{
    font-size: 30px;
}

.z2{
    display: flex;
    flex-direction: column;
}

.z3{
    font-size: 12px;
}

.z4{
    font-size: 20px;
}

#rights{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    justify-content: space-between;
    font-size: 14px;
}

#filter{
    display: flex;
    padding: 25px;
    gap: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 20px;
    background: #ffffff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.filt{
    display: flex;
    width: 100%;
    max-width: 1fr;
    padding: 15px;
    border-radius: 10px;
    background: #f7f7f9;
}

label{
    font-size: 18px;
}

select{
    flex: 1;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.main_header{
    font-size: 40px;
    font-weight: bold;
    margin-left:50px ;
    margin-bottom: 20px;
    margin-top: 70px;
}

#main{
    flex:1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(190px,1fr));
    gap:20px;
    padding: 20px;
}

#channel_main{
    flex:1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(380px,1fr));
    gap: 20px;
    padding: 20px;
}

.card{
    border-radius: 20px;
    transition: 0.3s ease;
}

.for_image{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.for_image img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    transition: 0.4s;
}

.for_ch_image{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.for_ch_image img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    transition: 0.4s;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.4s;
}

.overlay_text{
    color:white;
    padding: 10px;
    font-size: 20px;
    flex:1;
}

.overlay_text2{
    color:white;
    font-size: 16px;
    padding: 5px;
}

.for_ch_image:hover .overlay{
    opacity: 1;
    border-radius: 20px;
}

.for_image:hover .overlay{
    opacity: 1;
    border-radius: 20px;
}

.card:hover{
    transform:scale(1.05);
}

#elements{
    display: flex;
}

.pag{
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
    font-size: 40px;
    cursor: pointer;
}

#creating{
    display: flex;
    flex-direction: column;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;
    gap:20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    border: 3px solid #f0f0f0;
    border-radius: 10px;
}

#updating{
    display: flex;
    flex-direction: column;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    padding: 10px;
    gap:20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    border: 3px solid #f0f0f0;
    border-radius: 10px;
}

.create_head{
    font-size: 20px;
}

.cont{
    display: flex;
    gap:10px;
}

.cont label{
    width: 32%;
    display: flex;
}

.cont label input::placeholder{
    color: #99999b;
    font-family: 'Courier New', Courier, monospace;
}

.cont input{
    border-radius: 5px;
    border: 1px solid #d4d3d3;
    background-color: #fcfcfc;
}

.contr input::placeholder{
    color: #99999b;
    font-family: 'Courier New', Courier, monospace;
}

.contr{
    display: flex;
    padding-right: 15px;
}

.contr input{
    border-radius: 5px;
    background-color: #fcfcfc;
    border: 1px solid #d4d3d3;
}

.in{
    flex:1;
    width: 30%;
}

#description{
    width: 97.5%;
    height: 80px;
    max-width: 97.5%;
}

textarea{
    border-radius: 5px;
    background-color: #fcfcfc;
    border: 1px solid #d4d3d3;
}

textarea::placeholder{
    font-family: 'Courier New', Courier, monospace;
}

.create-btn{
    background-color:#28a745;
    color:white;
    width: 98.5%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    border: 0;
}
.create-btn:hover{
    background-color:#218838;
}

.update-btn{
    background-color:#007bff;
    color:white;
    width: 98.5%;
    height: 30px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 17px;
    border: 0;
}
.update-btn:hover{
    background-color:#0056b3;
}

.delete-btn{
    background-color:#dc3545;
    color:white;
    width: 57.7%;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: 322px;
    margin-right: auto;
    font-size: 17px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}
.delete-btn:hover{
    background-color:#b02a37;
}

.delete-btn-for-channel{
    background-color:#dc3545;
    color:white;
    width: 20%;
    border: 0;
    border-radius: 5px;
    margin-left: 65%;
    font-size: 17px;
    height: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.delete-btn-for-channel:hover{
    background-color:#b02a37;
}

.zz{
    border: 0;
    background-color: transparent;
    color: rgb(153, 153, 153);
    font-size: 16px;
    height: 40px;
}

.zz:hover{
    color: white;
}

.hidden{
    display: none !important;
}