body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

#head{
    color:white;
}
#options{
    display: flex;
    gap: 10px;
    margin-right: 20%;
}

.color{
    color: rgb(153, 153, 153);
    cursor: pointer;
}

.color:hover{
    color: white;
}

#search_of{
    display: flex;
    background-color: rgb(78, 77, 77);
    height: 25px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 3px;
    color: lightgray;
    align-items: center;
    width: 370px;
    justify-content: space-between;
    gap:5px
    
}

#search{
    border: 0;
    background-color: transparent;
    width: 100%;
}

input::placeholder{
    color:lightgray;
    font-size: 14px;
}

#login{
    display: flex;
    color: rgb(153, 153, 153);
    background-color: rgb(35, 35, 51);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#login:hover{
    color: white;
}

#icon{
    background-color: rgb(56, 56, 81);
    border-radius: 10px;
    padding: 10px;
}

#ic{
    cursor: pointer;
}

#footer{
    background-color: black;
    width: 100%;
    margin-bottom: 0;
    color: gray;
}

#soc{
    display: flex;
    font-size: 22px;
    width: 25%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.soci{
    background-color: rgb(39, 39, 54) !important;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

.soci:hover{
    color: white;
    background-color: rgb(85, 85, 115) !important;
}

#foot1{
    display: flex;
    width: 12%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 20px;
    font-size: large;
}

.col:hover{
    color: white;
    cursor: pointer;
}

#foot2{
    display: flex;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 20px;
    font-size: large;
}

.col:hover{
    color: white;
    cursor: pointer;
}

#watching{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
    width: 43%;
    margin-top: 40px;
}

.z{
    display: flex;
    gap: 10px;
    background-color: rgb(31, 27, 27);
    padding: 6px;
    border-radius: 10px;
}

.z:hover{
    cursor: pointer;
    color: rgb(179, 177, 177);
    background-color: rgb(48, 45, 45);
}

.z1{
    font-size: 30px;
}

.z2{
    display: flex;
    flex-direction: column;
}

.z3{
    font-size: 12px;
}

.z4{
    font-size: 20px;
}

#rights{
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 30px;
    justify-content: space-between;
    font-size: 14px;
}

#main{
    flex: 1;
}


