body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: black;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
}

#head{
    color:white;
}
#options{
    display: flex;
    color: rgb(153, 153, 153);
    gap: 10px;
    margin-right: 20%;
    cursor: pointer;
}

#search_of{
    display: flex;
    background-color: rgb(78, 77, 77);
    height: 25px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 6px;
    padding-bottom: 3px;
    color: lightgray;
    align-items: center;
    width: 370px;
    justify-content: space-between;
    
}

#search{
    border: 0;
    background-color: transparent;
}

input::placeholder{
    color:lightgray;
    font-size: 14px;
}

#login{
    display: flex;
    color: white;
    background-color: rgb(35, 35, 51);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

#icon{
    background-color: rgb(56, 56, 81);
    border-radius: 10px;
    padding: 10px;
}

#ic{
    cursor: pointer;
}

#footer{
    background-color: black;
    width: 100%;
    margin-bottom: 0;
}

#main{
    flex: 1;
}

